In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('raw_data/figure-1-source-data-1-hi-titer-at-baseline.csv').query('visit == "V4"')
data.head()

,participant_id,visit,year_of_sampling,age_at_sampling,strain,year_of_isolation,log_hi_titer
0,1,V4,2014,60-69,A/Beijing/1989,1989,3
3,1,V4,2014,60-69,A/Beijing/1992,1992,5
4,1,V4,2014,60-69,A/Bangkok/1979,1979,3
7,1,V4,2014,60-69,A/Brisbane/2007,2007,7
8,1,V4,2014,60-69,A/California/2004,2004,7

In [6]:
data.sort_values(by='year_of_isolation')['strain'].unique()

array(['A/HongKong/1968', 'X31', 'A/England/1972', 'A/Victoria/1975',
       'A/Texas/1977', 'A/Bangkok/1979', 'A/Philippines/1982',
       'A/Mississippi/1985', 'A/Sichuan/1987', 'A/Beijing/1989',
       'A/Beijing/1992', 'A/Wuhan/1995', 'A/Victoria/1998',
       'A/Fujian/2000', 'A/Fujian/2002', 'A/California/2004',
       'A/Brisbane/2007', 'A/Perth/2009', 'A/Victoria/2009',
       'A/Texas/2012', 'A/HongKong/2014'], dtype=object)

Make spreadsheet with each of these strains and their associated sequences (check if AA or NT is needed).
Input into fasttree to get newick file.